In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
path = r"C:\Runali\Hackathon\api_data_aadhar_biometric\*.csv"
all_files = glob.glob(path)

all_files

['C:\\Runali\\Hackathon\\api_data_aadhar_biometric\\api_data_aadhar_biometric_0_500000.csv',
 'C:\\Runali\\Hackathon\\api_data_aadhar_biometric\\api_data_aadhar_biometric_1000000_1500000.csv',
 'C:\\Runali\\Hackathon\\api_data_aadhar_biometric\\api_data_aadhar_biometric_1500000_1861108.csv',
 'C:\\Runali\\Hackathon\\api_data_aadhar_biometric\\api_data_aadhar_biometric_500000_1000000.csv']

In [3]:
df_list = []

for file in all_files:
    df = pd.read_csv(file)
    df_list.append(df)

df_all = pd.concat(df_list, ignore_index=True)

df_all.shape

(1861108, 6)

In [4]:
df_all.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [5]:
df_all.columns

Index(['date', 'state', 'district', 'pincode', 'bio_age_5_17', 'bio_age_17_'], dtype='object')

In [6]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861108 entries, 0 to 1861107
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   date          object
 1   state         object
 2   district      object
 3   pincode       int64
 4   bio_age_5_17  int64
 5   bio_age_17_   int64
dtypes: int64(3), object(3)
memory usage: 85.2+ MB

In [7]:
df_all.isnull().sum()

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [8]:
print(df_all['date'].head())

0    01-03-2025
1    01-03-2025
2    01-03-2025
3    01-03-2025
4    01-03-2025
Name: date, dtype: object

In [9]:
for state in sorted(df_all['state'].unique()):
    print(state)

Andaman & Nicobar Islands
Andaman and Nicobar Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhatisgarh
Chhattisgarh
Dadra & Nagar Haveli
Dadra and Nagar Haveli
Dadra and Nagar Haveli and Daman and Diu
Daman & Diu
Daman and Diu
Delhi
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu & Kashmir
Jammu and Kashmir
Jharkhand
Karnataka
Kerala
Ladakh
Lakshadweep
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Nagaland
ODISHA
Odisha
Orissa
Pondicherry
Puducherry
Punjab
Rajasthan
Sikkim
Tamil Nadu
Tamilnadu
Telangana
Tripura
Uttar Pradesh
Uttarakhand
Uttaranchal
WEST BENGAL
WESTBENGAL
West  Bengal
West Bangal
West Bengal
West bengal
Westbengal
andhra pradesh
odisha
west Bengal

In [10]:
print(f"Total unique states: {df_all['state'].nunique()}")

Total unique states: 57

In [11]:
df_all.to_csv("cleaned_data.csv", index=False)

In [12]:
state_corrections = {
    # Andaman & Nicobar Islands variations
    "Andaman & Nicobar Islands": "Andaman and Nicobar Islands",
    "Andaman and Nicobar Islands": "Andaman and Nicobar Islands",

    # Andhra Pradesh variations
    "Andhra Pradesh": "Andhra Pradesh",
    "andhra pradesh": "Andhra Pradesh",

    # Arunachal Pradesh
    "Arunachal Pradesh": "Arunachal Pradesh",

    # Assam
    "Assam": "Assam",

    # Bihar
    "Bihar": "Bihar",

    # Chandigarh
    "Chandigarh": "Chandigarh",

    # Chhattisgarh variations
    "Chhatisgarh": "Chhattisgarh",
    "Chhattisgarh": "Chhattisgarh",

    # Dadra & Nagar Haveli variations
    "Dadra & Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra and Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra and Nagar Haveli and Daman and Diu": "Dadra and Nagar Haveli and Daman and Diu",

    # Daman & Diu variations
    "Daman & Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Daman and Diu": "Dadra and Nagar Haveli and Daman and Diu",

    # Delhi
    "Delhi": "Delhi",

    # Goa
    "Goa": "Goa",

    # Gujarat
    "Gujarat": "Gujarat",

    # Haryana
    "Haryana": "Haryana",

    # Himachal Pradesh
    "Himachal Pradesh": "Himachal Pradesh",

    # Jammu & Kashmir variations
    "Jammu & Kashmir": "Jammu and Kashmir",
    "Jammu and Kashmir": "Jammu and Kashmir",

    # Jharkhand
    "Jharkhand": "Jharkhand",

    # Karnataka
    "Karnataka": "Karnataka",

    # Kerala
    "Kerala": "Kerala",

    # Ladakh
    "Ladakh": "Ladakh",

    # Lakshadweep
    "Lakshadweep": "Lakshadweep",

    # Madhya Pradesh
    "Madhya Pradesh": "Madhya Pradesh",

    # Maharashtra
    "Maharashtra": "Maharashtra",

    # Manipur
    "Manipur": "Manipur",

    # Meghalaya
    "Meghalaya": "Meghalaya",

    # Mizoram
    "Mizoram": "Mizoram",

    # Nagaland
    "Nagaland": "Nagaland",

    # Odisha variations
    "ODISHA": "Odisha",
    "Odisha": "Odisha",
    "Orissa": "Odisha",
    "odisha": "Odisha",

    # Pondicherry / Puducherry
    "Pondicherry": "Puducherry",
    "Puducherry": "Puducherry",

    # Punjab
    "Punjab": "Punjab",

    # Rajasthan
    "Rajasthan": "Rajasthan",

    # Sikkim
    "Sikkim": "Sikkim",

    # Tamil Nadu variations
    "Tamil Nadu": "Tamil Nadu",
    "Tamilnadu": "Tamil Nadu",

    # Telangana
    "Telangana": "Telangana",

    # Tripura
    "Tripura": "Tripura",

    # Uttar Pradesh
    "Uttar Pradesh": "Uttar Pradesh",

    # Uttarakhand variations
    "Uttarakhand": "Uttarakhand",
    "Uttaranchal": "Uttarakhand",

    # West Bengal variations
    "WEST BENGAL": "West Bengal",
    "WESTBENGAL": "West Bengal",
    "West  Bengal": "West Bengal",
    "West Bangal": "West Bengal",
    "West Bengal": "West Bengal",
    "West bengal": "West Bengal",
    "Westbengal": "West Bengal",
    "west Bengal": "West Bengal"
}

In [13]:
df_all['state'] = df_all['state'].str.strip().replace(state_corrections)

In [14]:
for state in sorted(df_all['state'].unique()):
    print(state)

Andaman and Nicobar Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Dadra and Nagar Haveli and Daman and Diu
Delhi
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu and Kashmir
Jharkhand
Karnataka
Kerala
Ladakh
Lakshadweep
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Nagaland
Odisha
Puducherry
Punjab
Rajasthan
Sikkim
Tamil Nadu
Telangana
Tripura
Uttar Pradesh
Uttarakhand
West Bengal

In [15]:
print(f"Total unique states: {df_all['state'].nunique()}")

Total unique states: 36

In [16]:
df_all.to_csv("cleaned_data.csv", index=False)